@import "../scss/var";

.container {
    padding: 0 8rem;
}

.full-width {
    width: 100%;
}

.flex {
    display: flex;
}

.h-flex {
    flex: 50%;
    max-width: 50%;
    width: 100%;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.justify-self-end {
    justify-self: flex-end;
}

.relative {
    position: relative;
}

.ml-5 {
    margin-left: 3rem;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mt-4 {
    margin-top: 4rem !important;
}

.mt-5 {
    margin-top: 5rem !important;
}

.pr-5 {
    padding-right: 5rem;
}

.pl-5 {
    padding-left: 5rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.sr-only {
    display: none;
}

.topnav {
    width: 100%;
    height: 100%;

    &__primary {
        padding: 1rem 0;
    }

    &__logo {
        height: 45px;

        & img {
            height: 100%;
        }
    }

    &__menu {
        list-style: none;

        & li:not(:last-child) {
            margin-right: 1.8rem;
        }
        & li {
            position: relative;

            & a {
                font-weight: 600;
            }
        }
    }

    &__btn {
        background: $blue;
        color: $white;
        border-radius: 5px;
        padding: .7rem 1.2rem;
        font-size: 16px;
    }
}

.header {
    background: $dark-white;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);

    &__banner {
        height: 500px;
    }
}

.btn {
    position: relative;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

    &-primary {
        background: #F5A623;
        padding: .9rem 2.4rem;
        font-size: 15px;
        color: $white;
        font-weight: 700;
    }

    &-sec {
        background: $white;
        padding: .9rem 2.4rem;
        font-size: 15px;
        color: $blue;
        font-weight: 700;
    }

    &__sub {
        background: $blue;
        height: 52px;
        transform: translate(-10px, -1px);
        border: 0;
        border-radius: 0px 5px 5px 0px;
        padding: 0 3rem;
        color: $white;
    }

    &__standard {
        background: $blue;
        padding: .9rem 2.4rem;
        font-size: 15px;
        font-weight: 700;
        color: $white;
        outline: 0;
        border: 0;
    }
    &_white {
        color: $blue;
        background: $white;
    }
}

.col-3 {
    flex: 0 0 30%;
    max-width: 30%;
    width: 100%;
    padding: .3rem;
}

.col-4 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: .3rem 0;
}

.input {
    background: $white;
    border: 1px solid rgba(135, 135, 135, 0.5);
    border-radius: 5px;
}

.form__input {
    height: 50px;
    padding: 0 1rem;
    border-radius: 5px 0px 0px 5px;
}

.text {

    &__white {
        color: $white;
    }
    &__center {
        text-align: center;
    }
}

.background__white {
    background: $white;
}

.w-75 {
    width: 75%;
}

.w-60 {
    width: 60%;
}

.playstoreIcon {
    height: 38px;
    margin-right: 1.2rem;
}

.subBtn {
    transform: translate(-10px, 0);
}