@import '../scss/var';
@import '../scss/mixin/_media';

.main {
    height: 100%;
    width: 100%;
}

.home__banner {
    height: 740px;
    width: 100%;
    background: $light-blue;
}

.hero {

    &__header {
        width: 100%;
        height: 665px;
        padding-top: 5%;

        @include media(">=2000px") {
            padding-top: 2%;
        }
        @include media(">=tablet", "<=992px") {
            padding-top: 4%;
            height: 450px;
        }
        @include media(">=phone", "<tablet") {
            padding-top: 15%;
        }
    }
   
    &__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $white;

        @include media(">=phone", "<=992px") {
            position: relative;
        }

        @include media(">=tablet", "<=850px") {
            transform: translateY(-30%);
        }

        & h1 {
            font-weight: 700;
            font-size: 40px;
            line-height: 1.3;

            @include media(">=phone", "<=992px") {
                font-size: 30px;
            }
        }

        & p {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 3rem;

            @include media(">=phone") {
                margin-top: 1rem;
            }
        }
    }

    &__form.subscription__form {
        width: 50%;

        @include media(">=phone", "<=tablet") {
            width: 100%;
        }
    }

    &-search__form {
        transform: translate(0, -35px);
        background: #FAFAFA;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06);
        padding: .7rem 1rem;

        @include media(">=phone", "<=tablet") {
            flex-direction: column;
            transform: translate(0, -20px);
        }
        @include media(">tablet", "<=992px") {
            flex-direction: column;
            transform: translate(0, -150%);
        }
        & .form__item {
            flex: 0 0 40%;
            max-width: 40%;
            width: 100%;

            @include media(">=phone", "<=992px") {
                flex: 1;
                max-width: 100%;
                margin-bottom: .5rem;
            }

            & select {
                background: #FFFFFF;
                opacity: 0.5;
                border: 1px solid rgba(135, 135, 135, 0.8);
                box-sizing: border-box;
                border-radius: 5px;
                width: 100%;
                outline: 0;
            }
        }
        & .btn__standard {
            padding: .9rem 3.6rem;
        }
    }

    &__img {
        @include media(">=phone", "<=992px") {
            display: none;
        }

        & img {
            @include media(">=desktop", "<1200px") {
                transform: translateX(0);
                width: 100%;
                height: 100%;
            }
        }
    }

    &__button {
        @include media(">=phone", "<=tablet") {
            max-width: 70%;
        }
        & a {
            @include media(">=phone", "<=tablet") {
                display: block;
                text-align: center;
                &:nth-child(2) {
                    margin-top: 1rem;
                }
            }

            &.ml-5 {
                @include media(">=phone", "<=tablet") {
                    margin-left: 0;
                }
            }
        }
    }
}

.newsletter {
    background: $grey;
    padding: 4rem 0;
}

.subscription {
    flex: 0 0 80%;
    max-width: 80%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;

    @include media(">=phone", "<=tablet") {
        flex: 1;
        max-width: 100%;
    }

    & h4 {
        font-weight: 700;
        font-size: 28px;
        color: $dark-gray;
        margin-bottom: .3rem;

        @include media(">phone", "<tablet") {
            text-align: center;
            font-size: 24px;
        }

        @include media("<=phone") {
            font-size: 21px;
            text-align: center;
        }
    }

    & p {
        margin-bottom: .5rem;
        font-weight: 400;
        font-size: 18px;

        @include media(">1200px") {
            text-align: center;
            width: 60%;
        }

        @include media(">=992px") {
            text-align: center;
            width: 80%;
        }

        @include media(">=phone", "<=tablet") {
            text-align: center;
            font-size: 16px;
            width: 90%;
        }

        @include media("<=phone") {
            font-size: 14px;
        }
    }

    &__form {
        margin-top: 2.5rem;
        max-width: 60%;
        width: 100%;

        @include media(">1200px", "<=1400px") {
            max-width: 65%;
        }

        @include media(">=phone", "<=1200px") {
            max-width: 100%;
        }

        & .form__item {
            width: 100%;

            @include media(">=phone", "<=tablet") {
                text-align: center;
            }

            & input {
                width: 64%;
                border: 1px solid rgba(79, 79, 79, 0.3);

                @include media(">=desktop", "<=1200px") {
                    width: 58%;
                }

                @include media(">=phone", "<=tablet") {
                    width: 90%;
                }
            }
        }
    }

    & .video__embed {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 2rem;

        & img,
        & video,
        & iframe {
            width: 100%;
        }
    }
}

.download {
    background: $white;
    padding: 5rem 0;

    &-container {
        flex-direction: column;

        @include media(">=desktop") {
            flex-flow: row;
        }
    }

    &-context {
        flex-direction: column;
        text-align: center;

        & h1 {
            font-size: 25px;
            font-weight: 700;
            padding: 0 10rem;
            @include media(">tablet", "<=1024px") {
                padding: 0 4rem;
            }
            @include media(">=phone", "<=tablet") {
                padding: 0;
            }
        }

        & p {
            opacity: .5;
            font-size: 18px;
            padding: 0 6rem;
            margin-bottom: 2rem;

            @include media(">=phone", "<=tablet") {
                padding: 0;
            }
        }
    }
    
    &-app {
        @include media(">=desktop", "<=1200px") {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-app__desktop {
        margin-bottom: 4rem;

        & img {
            @include media(">=phone", "<=tablet") {
                width: 100%;
            }
            @include media(">tablet", "<=992px") {
                width: 100%;
            }
        }
    }

    &__icons {
        & ul {
            @include media(">=phone", "<=tablet") {
                flex-direction: column;
                align-items: flex-start;
            }

            & svg {
                width: 130px;
                height: 50px;
            }
        }
        &.not-footer {
            & ul {
                @include media(">=phone", "<=tablet") {
                    flex-direction: row;
                }
            }
        }
    }
}

.features {
    background: linear-gradient(180deg, #0CA2D9 22.4%, #0077A3 83.85%);
    box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 0.84px 2.52px rgba(63, 63, 68, 0.15);
    padding: 5rem 0;

    &-header {
        & h1 {
            margin-bottom: .5rem;
        }
        & p {
            width: 60%;

            @include media(">=phone", "<desktop") {
                width: 100%;
            }
        }
    }

    &-content {
        flex-flow: row;
        flex-wrap: wrap;
        margin-top: 3rem;

        @include media(">=phone", "<=tablet") {
            flex-direction: column;
        }

        & .col-3 {
            margin-right: 3%;
            margin-bottom: 3%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;

            @include media(">=phone", "<=tablet") {
                margin-right: 0;
            }
        }
        & .col-3:nth-child(3),
        & .col-3:nth-child(6) {
            margin-right: 0;
            @include media(">=tablet", "<=900px") {
                margin-right: 3%;
            }
        }
        &__col {
            padding: 1.7rem .9rem;

            & h4 {
                color: $yellow;
                font-size: 20px;
                margin: .6rem 0;
            }
        }
    }
}

.phone-view {
    z-index: 1;
    position: absolute;
    right: -4rem;
    top: 3rem;

    @include media(">=phone", "<=992px") {
        display: none;
    }
}

.how-it-works__step {
    @include media(">=tablet", "<=900px") {
        flex-direction: column;
    }
}

.how_it_works {
    padding: 5rem 0;
    background: $white;

    &__step {
        position: relative;
    }

    &__step-col {
        & h2{
            color: $yellow;
            margin-bottom: .7rem;

            @include media("<=phone") {
                font-size: 20px;
            }
        }

        & h5 {
            font-size: 18px;
            margin-bottom: 1rem;
            color: $dark-gray;

            @include media("<=phone") {
                font-size: 17px;
            }
        }

        & p {
            text-align: center;
            color: $light-gray;
            width: 100%;
            font-size: 16px;
        }
    }
}

.banner_image {
    height: 420px;
    position: relative;

    @include media(">=phone","<=tablet") {
        height: 480px;
    }
    @include media(">=tablet", "<=992px") {
        height: 100%;
    }

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &:after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #222222 32.96%, rgba(0, 0, 0, 0) 69.55%);
    }
}

.about_image::after {
    background: linear-gradient(90deg, #333333 0%, rgba(0, 0, 0, 0) 69.55%);
}

.consultance {
    &-container {
        position: relative;

        @include media(">=phone", "<=tablet") {
            flex-direction: column;
        }

        &__body {

            & h2 {
                @include media(">=phone", "<=tablet") {
                    text-align: center;
                }
            }

            @include media(">=phone", "<=tablet") {
                display: flex;
                flex-flow: column;
                align-items: center;
            }

            & p {
                color: $light-gray;
                padding: 0 0 2rem 0;
                margin: 1rem 0;
                text-align: left;
            }
        }

        &__img {
            width: 100%;

            @include media(">=tablet", "<=992px") {
                width: 70%;
                margin-top: 1rem;
            }

            @include media(">=phone", "<tablet") {
                margin-top: 1rem;
            }

            & img {
                width: 100%;
            }
        }
    }
}

.flow-reverse {
    flex-flow: row-reverse;

    @include media(">=phone", "<=tablet") {
        flex-flow: column;
    }
}

.search {

    &-section {
        margin-top: 4rem;

        &-single__section {
            @include media(">=phone", "<=tablet") {
                flex-direction: column;
            }
        }
    }
    &-header {
        padding-bottom: 1rem;
        & span {
            font-size: 16px;
            color: $light-gray;
        }

        @include media(">=phone", "<=tablet") {
            margin-bottom: 3.5rem;
        }
    }
    &-container {
        background: $white;
        border: 1px solid rgba(135, 135, 135, 0.3);
        box-shadow: 0px 4.62128px 18.4851px rgba(53, 55, 81, 0.06);
        border-radius: 5px;
        padding: 2rem;
        padding-bottom: 3rem;
        &:not(:first-child) {
            margin-top: 2rem;
        }
    }
    &__header {

        @include media(">=phone", "<=tablet") {
            flex-direction: column;
        }

        &-img {
            height: 100px;
            width: 100px;
            position: relative;
            border: 1px solid rgba(135, 135, 135, 0.2);
            box-sizing: border-box;
            filter: drop-shadow(0px 4.62128px 18.4851px rgba(53, 55, 81, 0.06));
            border-radius: 5px;
            margin-right: 1rem;
            margin-bottom: 1rem;
            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &-location {
            display: flex;
            position: absolute;
            right: 13%;
            align-items: center;
            & span {
                margin-left: .4rem;
                font-weight: 400;
                color: $blue;
            }
        }
        &-profile {
            display: flex;
            flex-direction: column;
            & .com_name {
                color: $dark-gray;
                font-size: 20px;
                font-weight: 600;
            }
            & .com_pos {
                color: $blue;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    &__content {
        & p {
            font-size: 17px;
            color: $light-gray;
        }
    }
    &__pagination {
        margin-top: 4rem;
        margin-bottom: 3rem;
        position: relative;
    }
}
.paginate {
    &__prev {
        font-weight: 400;
        font-size: 18px;
        color: $light-gray;
        padding: .5rem;
        cursor: pointer;
        opacity: .6;
        &.active {
            opacity: 1;
        }

        @include media(">=phone", "<=tablet") {
            display: none;
        }
    }
    &__next {
        font-weight: 400;
        font-size: 18px;
        color: $light-gray;
        padding: .5rem;
        cursor: pointer;
        opacity: .6;
        &.active {
            opacity: 1;
            &:active {
                content: '';
            }
        }

        @include media(">=phone", "<=tablet") {
            display: none;
        }
    }
}
.paginate__next.active::after {
    content: '';
} 
.pagination__number {
    margin: 0 .5rem;
    &_box {
        padding: .1rem .4rem;
        margin: .35rem;
        cursor: pointer;
        color: $light-gray;
        &.is_active {
            background: $white;
            border: 1.5px solid #878787;
            border-radius: 4px;
        }
    }
}
.com_ratings {
    margin-top: .3rem;
    &_reveiws {
        font-style: italic;
        font-weight: 400;
        color: $light-gray;
        font-size: 15px;
    }
}

.consultant {
    &__text {
        transform: translateY(-80%);

        @include media(">=phone", "<=tablet") {
            position: absolute;
            transform: translateY(-110%);
        }
        @include media(">=tablet", "<=992px") {
            transform: translateY(-550%);
        }
    }
    &-header {
        width: 90%;

        @include media(">=phone", "<=tablet") {
            width: 100%;
        }
        & span {
            font-size: 18px;
            color: $light-gray;
            padding: .4rem 0 1rem 0;
            line-height: 1.6;
        } 
    }
    &__banner {
        height: 300px;
        background: linear-gradient(180deg, #0CA2D9 22.4%, #0077A3 83.85%);
        box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 0.84px 2.52px rgba(63, 63, 68, 0.15);

        @include media(">=phone", "<=tablet") {
            height: 500px;
        }
    }
    &__container {
        transform: translateY(30%);

        @include media(">=phone", "<=tablet") {
            flex-direction: column;
            transform: translateY(30px);
        }

        & .search__header-img {
            height: 200px;
            width: 200px;
            margin: 0;

            @include media(">=phone", "<=tablet") {
                height: 100px;
                width: 100px;
            }
        }
        & .search__header-profile {
            margin-left: 1.5rem;

            @include media(">=phone", "<=tablet") {
                margin-left: 0;
            }
            & .com_name {
                color: $white;
                font-size: 26px;

                @include media(">=phone", "<=tablet") {
                    font-size: 20px;
                }
            }
            & .com_pos {
                color: $white;

                @include media(">=phone", "<=tablet") {
                    font-size: 16px;
                }
            }
        }
        & .com_ratings_reveiws {
            color: $white;
        }
        & .com_contact_details {
            display: flex;
            align-items: center;
            margin-top: .4rem;

            @include media(">=phone", "<=tablet") {
                flex-direction: column;
                align-items: flex-start;
            }
            & span {
                margin-right: .5rem;

                @include media(">=phone", "<=tablet") {
                    margin-top: .4rem;
                }
                & a {color: $white;}
            }
            & svg {
                margin-right: .5rem;
                @include media(">=phone", "<=tablet") {
                    display: none;
                }
            }
        }
        & .com_social_details {
            margin-top: .5rem;

            @include media(">=phone", "<=tablet") {
                margin-top: 1rem;
            }
            & img {
                margin-right: .4rem;
            }
        }
    }
}

.consultant-certification {
    margin-top: 4rem;

    & h2 {
        font-size: 22px;
        color: $dark-gray;
        font-weight: 600;
    }
}

.consultant-body {
    width: 80%;
    margin-bottom: 6rem;

    @include media(">=phone", "<=tablet") {
        width: 100%;
    }
}

.certification__container {
    flex-flow: row wrap;
}

.cert__con {
    margin: 1rem 0;

    &-box {
        height: 70px;
        width: 70px;
        background: #C4C4C4;
        margin-right: .6rem;
        border-radius: 5px;
    }
    &-content {
        display: flex;
        flex-direction: column;
        & span {
            padding: 0;
            &.cert__con-content__header {
                color: $dark-gray;
                font-size: 16px;
            }
            &.cert__con-content__date {
                font-size: 16px;
                color: $light-gray;
            }
        }
    }
}

.industries {
    background: #F1F1F1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-right: .7rem;
    & span {
        padding: .5rem 1rem;
        font-size: 16px;
        color: $light-gray;
    }
}

.reviews {
    margin-bottom: 4rem;
    &__container {
        padding-right: 20%;
        margin-top: 2rem;
        padding-bottom: 2rem;

        @include media(">=phone", "<=tablet") {
            padding-right: 0;
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(135, 135, 135, 0.8);
        }
        & p {
            font-size: 18px;
            color: $light-gray;
        }
    }
}

.reviewer {
    flex-direction: column;
    & span {
        padding: 0;
        &.reviewer__name {
            color: $dark-gray;
            font-size: 18px;
            padding: 0;
        }
        &.reviewer__position {
            font-size: 14px;
        }
    }
    &__position {
        font-size: 14px;
        padding: 0;
    }
}

.single__consultant__header {
    height: auto;
}

.popUp {
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    display: none; //none
    &.visible {
        display: block;
    }

    &__content {
        background: #FAFAFA;
        border-radius: 10px;
        margin: auto;
        padding: 20px 0;
        width: 40%;
        max-height: 650px;
        height: 100%;
        transform: translate3d(0, -10%, 0);
        transition: all .5s ease-in;
        opacity: 1; //0
        will-change: transform, opacity;

        @include media(">=tablet", "<desktop") {
            width: 70%;
        }

        @include media(">=phone", "<tablet") {
            width: 100%;
        }
    }
    &modal__form {
        flex-direction: column;
        padding: 2rem;

        & h4 {
            padding-bottom: 1rem;
        }

        & form {
            max-width: 380px;
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & .form__item {
                margin-bottom: 1rem;
                width: 100%;
            }

            & .form__input {
                width: 100%;
                border: 1px solid rgba(135, 135, 135, 0.5);
                box-sizing: border-box;
                border-radius: 5px;
                color: $dark-gray;
            }

            & .form__text {
                width: 100%;
                background: $white;
                border: 1px solid rgba(135, 135, 135, 0.5);
                box-sizing: border-box;
                border-radius: 5px;
                color: $dark-gray;
                padding: 1rem;
            }
        }
    }
}

#success-modal {
    max-height: 350px;
    display: none;
}

.successModal {
    flex-direction: column;
    & p {
        padding: 1rem 3rem;
        text-align: center;
        color: $light-gray;
    }
    & span {
        color: $dark-gray;
        font-size: 22px;
        margin: 1rem 0;
    }
    & a {
        margin: 1rem 0;
    }
}

.accordion {
    background: #FFFFFF;
    border: 1px solid rgba(135, 135, 135, 0.4);
    box-sizing: border-box;
    border-radius: 5px;
    color: $dark-gray;
    cursor: pointer;
    padding: 18px;
    padding-top: 20px;
    width: 100%;
    text-align: left;
    align-self: center;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    &::after {
        content: url('../img/arrow-down.svg');
        color: $dark-gray;
        font-weight: bold;
        float: right;
        font-size: 20px;
        margin-left: 5px;
    }

    @include media(">=phone", "<tablet") {
        font-size: 16px;
    }

    &__content {
        background: #FFFFFF;
        border: 1px solid rgba(135, 135, 135, 0.4);
        box-sizing: border-box;
        border-radius: 5px;
        color: $dark-gray;
        cursor: pointer;
        padding: 0;
        padding-top: 20px;
        width: 100%;
        text-align: left;
        align-self: center;
        outline: none;
        font-size: 20px;
        transition: 0.4s;
        position: relative;
        margin-bottom: 1.5rem;

        & button {
            color: $dark-gray;
            cursor: pointer;
            padding: 18px;
            padding-top: 0;
            width: 100%;
            text-align: left;
            align-self: center;
            outline: none;
            font-size: 20px;
            background: #FFFFFF;
            border: 0;
            position: relative;

            &::after {
                content: url('../img/arrow-down.svg');
                position: absolute;
                right: 18px;
            }
        }
    }

    &__panel {
        border-top: 1px solid rgba(135, 135, 135, 0.4);

        & p {
            padding: 20px;
            font-weight: 400;
            color: #5F6368;
            font-size: 18px;
        }
    }
}
  
// .active, .accordion:hover {
//     background-color: #FAFAFA;
// }

// .active:after {
//     content: url('../img/arrow-down.svg');
// }
  
// .panel {
//     padding: 0px 30px;
//     background-color: #FAFAFA;
//     max-height: 0;
//     overflow: hidden;
//     transition: max-height 0.2s ease-out;
//     & p {
//         padding: 20px 0;
//         font-weight: 400;
//         color: $light-gray;
//         font-size: 18px;

//         @include media(">=phone", "<tablet") {
//             font-size: 15px;
//         }
//     }
//     & a {
//         color: inherit;
//     }
// }

.frequentQ {
    width: 80%;
    margin: auto;

    @include media(">=phone", "<=tablet") {
        width: 100%;
    }

    & h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
    &__accordion {
        margin-bottom: 1.5rem;
    }
}

.why__choose_us {
    position: relative;

    @include media(">=phone", "<=900px") {
        flex-direction: column;
    }

    &__img {
        flex: 0 0 45%;
        max-width: 45%;
        width: 100%;
        margin-right: 5%;
        
        @include media(">=phone", "<=900px") {
            flex: 1;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 5%;
        }
        & img {
            width: 100%;
        }
    }

    &__body {
        position: relative;
        & h2 {
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                height: 6px;
                width: 100%;
                background: $blue;
            }
        }
        &-reliable {
            width: 80%;
            margin-top: 2rem;
            @include media(">=phone", "<=tablet") {
                width: 100%;
            }
        }
    }

}

.why__choose-us__body-reliable {
    width: 80%;
    margin-top: 2rem;

    @include media(">=phone", "<=tablet") {
        width: 100%;
    }

    & h4 {
        margin-bottom: .5rem;
        font-size: 18px;
        text-transform: capitalize;
    }
    & p {
        font-size: 16px;
        color: $light-gray;
    }
}

.who__we__are {
    @include media(">=phone", "<=900px") {
        flex-direction: column;
    }
}

.who__we-are {
    position: relative;

    &__body {
        flex: 0 0 45%;
        max-width: 45%;
        width: 100%;
        margin-right: 5%;

        @include media(">=tablet", "<=900px") {
            flex: 1;
            max-width: 90%;
        }

        @include media(">=phone", "<=tablet") {
            flex: 1;
            max-width: 100%;
        }

        & h2 {
            margin-bottom: 2rem;
        }

        & p {
            margin-bottom: 2rem;
            font-size: 17px;
            color: $light-gray;
        }
    }
    &__imgs {
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 3rem;
        
        @include media(">=phone", "<=900px") {
            flex: 1;
            max-width: 100%;
        }

        & img {
            max-width: 50%;
            &:nth-child(2) {
                transform: translateY(20%);
            }
            &:nth-child(4) {
                transform: translateY(20%);
            }
        }
    }
}

.search__header-location {
    @include media(">=phone", "<=tablet") {
        right: -15px;
    }
    @include media(">tablet", "<=992px") {
        right: 0;
    }
}

.include-media-test {
    @include media("<=phone") {
      background-color: #def;
      
      &:before {
        content: "<=phone";
      }
    }
  
    @include media(">phone") {
      background-color: #abc;
      
      &:before {
        content: ">phone";
      }    
    }
  
    @include media(">=815px", "<desktop") {
      background-color: #fed;
      
      &:before {
        content: ">=815px, <desktop";
      }    
    }
  
    @include media(">=desktop") {
      background-color: #fab;
      
      &:before {
        content: ">=desktop";
      }
    }
    
    @include media("retina2x") {
      &:after {
        content: "Retina" !important;
      }    
    }
}

.how-it-works__step {
    @include media(">=phone", "<=tablet") {
        flex-direction: column;
    }
}

.about__header {

    & .hero__text {
        @include media(">=phone", "<=tablet") {
            position: absolute;
        }
    }
}

.mLocation {
    @include media(">phone", "<=tablet") {
        right: 60px;
    }
    @include media("<=phone") {
        right: 0;
        position: relative;
        margin: .6rem 0;
    }
}

.m__text {
    @include media(">=phone", "<tablet") {
        transform: translateY(-65%);
    }
    @include media(">=tablet", "<=992px") {
        transform: translateY(-35%);
    }

    & .form__item {

        @include media(">=tablet", "<=992px") {
            display: flex;
            flex-flow: row;
        }

        @include media(">=phone", "<tablet") {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
        }

        & button {
            
            @include media(">=phone", "<tablet") {
                margin-top: 1rem;
                margin-left: .8rem;
            }
        }
    }
}

.overlay {
    width: 0;
    height: 100%;
    z-index: 99;
    background: $dark-white;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s ease;

    &.open {
        width: 100%;
    }

    &__content {
        position: relative;
        top: 5%;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & img {
            height: 35px;
            margin: 17% 0;
        }
    }
}

ul.accordion-list {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
    list-style: none;
    background-color: #f9f9fA;
    
    li {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      background-color: #FFF;
      padding: 20px;
      margin: 0 auto 15px auto;
      border: 1px solid #eee;
      border-radius: 5px;
      cursor: pointer;
      
      &.active {
        h3 {
          &:after {
            transform: rotate(45deg);
          }
        }
      }
      
      h3 {
        font-weight: 700;
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding: 0 0 0 0;
        margin: 0;
        font-size: 15px;
        letter-spacing: 0.01em;
        cursor: pointer;
        
        &:after {
          content: "\f278";
          font-family: "material-design-iconic-font";
          position: absolute;
          right: 0;
          top: 0;
          color: #Fcc110;
          transition: all 0.3s ease-in-out;
          font-size: 18px;
        }
      }
      
      div.answer {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        cursor: pointer;
        
        p {
            position: relative;
            display: block;
            font-weight: 300;
            padding: 10px 0 0 0;
            cursor: pointer;
            line-height: 150%;
            margin: 0 0 15px 0;
            font-size: 14px;
            }
        }
    }
}

.about__text {
    transform: translateY(-120%);
}

.m-hero-search__form {
    @include media(">=phone", "<=tablet") {
        transform: translate(0, -135px);
    }
}